<form [formGroup]="form" class="example-form">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input type="text" matInput formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>model</mat-label>
    <input type="text" matInput formControlName="model">
  </mat-form-field>

  <mat-form-field>
    <mat-label>manufacturer</mat-label>
    <input type="text" matInput formControlName="manufacturer">
  </mat-form-field>

  <mat-form-field>
    <mat-label>length</mat-label>
    <input type="text" matInput formControlName="length">
  </mat-form-field>

  <mat-form-field>
    <mat-label>crew</mat-label>
    <input type="text" matInput formControlName="crew">
  </mat-form-field>

  <mat-form-field>
    <mat-label>passengers</mat-label>
    <input type="text" matInput formControlName="passengers">
  </mat-form-field>

  <mat-form-field>
    <mat-label>created</mat-label>
    <input type="text" matInput formControlName="created">
  </mat-form-field>

  <mat-form-field>
    <mat-label>edited</mat-label>
    <input type="text" matInput formControlName="edited">
  </mat-form-field>
</form>
