<form [formGroup]="form" class="example-form">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input type="text" matInput formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Diameter</mat-label>
    <input type="text" matInput formControlName="diameter">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created</mat-label>
    <input type="text" matInput formControlName="created">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gravity</mat-label>
    <input type="text" matInput formControlName="gravity">
  </mat-form-field>

  <mat-form-field>
    <mat-label>OrbitalPeriod</mat-label>
    <input type="text" matInput formControlName="orbitalPeriod">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Population</mat-label>
    <input type="text" matInput formControlName="population">
  </mat-form-field>

  <mat-form-field>
    <mat-label>RotationPeriod</mat-label>
    <input type="text" matInput formControlName="rotationPeriod">
  </mat-form-field>

  <mat-form-field>
    <mat-label>SurfaceWater</mat-label>
    <input type="text" matInput formControlName="surfaceWater">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Terrain</mat-label>
    <input type="text" matInput formControlName="terrain">
  </mat-form-field>
</form>

