<div class="buttons">
  <button type="button" [routerLink]="'/people'" (click)="chooseTitle(MenuItem.People)">
    <mat-icon>people_alt_rounded</mat-icon>
    People
  </button>
  <button type="button" [routerLink]="'/planets'" (click)="chooseTitle(MenuItem.Planets)">
    <mat-icon>public_rounded</mat-icon>
    Planets
  </button>
  <button type="button" [routerLink]="'/starships'" (click)="chooseTitle(MenuItem.Starships)">
    <mat-icon>flight_rounded</mat-icon>
    Starships
  </button>

</div>
