<form [formGroup]="form" class="example-form">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input type="text" matInput formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>height</mat-label>
    <input type="text" matInput formControlName="height">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created</mat-label>
    <input type="text" matInput formControlName="created">
  </mat-form-field>

  <mat-form-field>
    <mat-label>mass</mat-label>
    <input type="text" matInput formControlName="mass">
  </mat-form-field>

  <mat-form-field>
    <mat-label>hairColor</mat-label>
    <input type="text" matInput formControlName="hairColor">
  </mat-form-field>

  <mat-form-field>
    <mat-label>skinColor</mat-label>
    <input type="text" matInput formControlName="skinColor">
  </mat-form-field>

  <mat-form-field>
    <mat-label>eyeColor</mat-label>
    <input type="text" matInput formControlName="eyeColor">
  </mat-form-field>

  <mat-form-field>
    <mat-label>birthYear</mat-label>
    <input type="text" matInput formControlName="birthYear">
  </mat-form-field>

  <mat-form-field>
    <mat-label>gender</mat-label>
    <input type="text" matInput formControlName="gender">
  </mat-form-field>

  <mat-form-field>
    <mat-label>homeworld</mat-label>
    <input type="text" matInput formControlName="homeworld">
  </mat-form-field>

  <mat-form-field>
    <mat-label>edited</mat-label>
    <input type="text" matInput formControlName="edited">
  </mat-form-field>
</form>


